on:
  push:
    branches:
    - master
  pull_request: 
    branches:
    - master
    
# name: Junit5 CI
    
jobs:
  linux_12:
    name: Linux (OpenJDK 12)
    runs-on: ubuntu-latest
    container: openjdk:12
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 10
    
    - name: Test
      run: |
        set -e

        ./gradlew --version
        ./gradlew --scan --warning-mode=all -Dplatform.tooling.support.tests.enabled=true build
        
      shell: bash  
      env:
       LC_ALL: en_US.UTF-8

  linux_13:
    name: Linux (OpenJDK 13)
    runs-on: ubuntu-latest
    container: openjdk:13
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 10
    
    - name: Test
      run: |
        set -e

        ./gradlew --version
        ./gradlew --scan --warning-mode=all -Dplatform.tooling.support.tests.enabled=true build
      
      shell: bash
      env:
       LC_ALL: en_US.UTF-8
  
  windows:
    name: Windows
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 10
   
    - run: choco install openjdk --version 12.0.1
      shell: bash
    
    - name: Test
      run: |
        set -e
        
        export JAVA_HOME="C:\Program Files\OpenJDK\jdk-12.0.1"
        export PATH="$JAVA_HOME/bin:$PATH"
        
        ./gradlew --version
        ./gradlew --scan --warning-mode=all -Dplatform.tooling.support.tests.enabled=true build
      
      shell: bash
      env:
       LC_ALL: en_US.UTF-8
    
  mac:
    name: Mac OS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 10
    
    - name: Test
      run: |
        set -e

        export JAVA_HOME="${JAVA_HOME_12_X64}"
        export PATH="$JAVA_HOME/bin:$PATH"

        ./gradlew --version
        ./gradlew --scan --warning-mode=all -Dplatform.tooling.support.tests.enabled=true build
      
      shell: bash
      env:
       LC_ALL: en_US.UTF-8
